# Make TextMate the default editor
export EDITOR='/usr/local/bin/mate -w'

# Don’t clear the screen after quitting a manual page
export MANPAGER='less -X'

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Add MacPorts to PATH
export PATH=/opt/local/bin:/opt/local/sbin:$PATH

# Add Heroku to PATH
export PATH=/usr/local/heroku/bin:$PATH