###
# Initialize environment variables
#
# Dependencies:
#   - mate
#   - Heroku binaries (optional)
#   - rbenv
#   - brew
###


###
# Make TextMate the default editor
###
if command_exists mate; then
  export EDITOR='/usr/local/bin/mate -w'
else
  export EDITOR=vim
fi

###
# Don’t clear the screen after quitting a manual page
###
export MANPAGER='less -X'

###
# Highlight section titles in manual pages
###
export LESS_TERMCAP_md="$ORANGE"

###
# Larger bash history
###
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

###
# Make some commands not show up in history
###
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

###
# Initialize rbenv to enable shims and autocompletion
###
if command_exists rbenv && ! path_contains '.rbenv/shims'; then
  echo 'Initializing rbenv'
  eval "$(rbenv init -)"
fi

###
# Add Heroku binaries to $PATH
###
heroku_path=/usr/local/heroku/bin
if ! path_contains $heroku_path && [ -d "$heroku_path" ];then
  echo "Adding $heroku_path to \$PATH"
  export PATH="$heroku_path:$PATH"
fi
unset heroku_path

###
# Add HomeBrew binaries to $PATH
#
# WARNING: This should always be the last $PATH modification
###
if command_exists brew && ! path_contains '/libexec/gnubin'; then
  echo "Adding Homebrew binaries to \$PATH"
  export PATH="$(brew --prefix coreutils)/libexec/gnubin:$PATH"
fi