###
# Initialize environment variables
#
# Dependencies:
#   - mate
#   - Heroku binaries (optional)
#   - rbenv
#   - brew
###


###
# Make TextMate the default editor
###
export EDITOR='/usr/local/bin/mate -w'

###
# Don’t clear the screen after quitting a manual page
###
export MANPAGER='less -X'

###
# Highlight section titles in manual pages
###
export LESS_TERMCAP_md="$ORANGE"

###
# Larger bash history
###
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

###
# Make some commands not show up in history
###
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

###
# Add Heroku binaries to $PATH
###
HEROKU_PATH=/usr/local/heroku/bin
if [ -d "$HEROKU_PATH" ];then
  export PATH="$HEROKU_PATH:$PATH"
fi

###
# Add rbenv to $PATH
###
RBENV_PATH="$HOME/.rbenv/bin"
if [ -d "$RBENV_PATH" ];then
  export PATH="$RBENV_PATH:$PATH"
fi

###
# Add HomeBrew overrides to $PATH
#
# WARNING: This should always be the last $PATH modification
###
if command -v brew >/dev/null 2>&1; then
  export PATH="$(brew --prefix coreutils)/libexec/gnubin:/usr/local/bin:$PATH"
fi