# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Cache folder for SASS
.sass-cache

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# SSH keys
.ssh/known_hosts
.ssh/id_[dr]sa*
.ssh/config

# OS X temporary files that should never be committed
*.swp
*.lock
profile

# Cocoapods
!Podfile.lock

# Xcode
UserInterfaceState.xcuserstate
xcuserdata/

# Rubygems
!Gemfile.lock