# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Cache folder for SASS
.sass-cache

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# SSH keys
.ssh/known_hosts
.ssh/id_[dr]sa*
.ssh/config

##################################
## Xcode4 / OS X Source projects
##
## For updates, see: http://stackoverflow.com/questions/49478/git-ignore-file-for-xcode-projects
##################################

######
## OS X temporary files that should never be committed
*.swp
*.lock
profile

#####
## Cocoapods
/Pods/
!Podfile.lock

#####
## Xcode temporary files that should never be committed
*~.nib

#####
## Xcode build files
DerivedData/
build/

######
## Xcode private settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3

# Whitelist the default ones, some projects need to use these
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

#####
## Xcode 4 - semi-personal settings, often included in workspaces
xcuserdata

#####
## XCode 4 workspaces
!xcshareddata

#####
## XCode 4 build-schemes
!xcschemes

#####
## Xcode 4 - Deprecated classes
*.moved-aside
