[user]
  name = Eliezer Talón
  email = elitalon@gmail.com

[alias]
  last = "!f() { git log -`if [ -z $1 ]; then echo 1; else echo $1; fi` HEAD;  }; f"
  co = checkout
  go = checkout -b
  ci = commit
  st = status
  plog = log --oneline --decorate
  sm = submodule
  br = branch -v
  brd = branch -d
  brd-remote = push origin --delete
  tags = tag -ln
  remotes = remote -v
  contributors = shortlog -s -n
  prune-remote = "!f() { git remote | xargs git remote prune; }; f"
  scrub = "!f() { git checkout -- . && git clean -fd; }; f"
  reset-last = reset --soft HEAD~
  sync = "!f() { git pull && git prune-remote; }; f"
  rename = branch -M

[apply]
  whitespace = fix

[core]
  excludesfile = ~/.gitignore
  editor = vim
  whitespace = space-before-tab,trailing-space
  autocrlf = input

[color]
  branch = auto
  interactive = auto
  diff = auto
  status = auto

[merge]
  log = true

[credential]
  helper = osxkeychain

[github]
  user = elitalon

[push]
  default = upstream
