[user]
    name = Eliezer Talón

[alias]
    # Shortcuts
    co = checkout
    go = checkout -b
    ci = commit
    st = status
    sm = submodule
    br = branch -v

    # Custom logs
    last = "!f() { git log -`if [ -z $1 ]; then echo 1; else echo $1; fi` HEAD;  }; f"
    plog = log --pretty=\"%C(auto)%h%d %s (%C(green)%ci%C(reset))\" --date=\"format:yyyy-MM-dd HH:mm\"

    # Editing workspace
    rename = branch -M
    brd = branch -d
    scrub = "!f() { git checkout -- . && git clean -fd; }; f"
    reset-last = reset --soft HEAD~

    # Maintenance
    prune-remote = "!f() { git remote | xargs git remote prune; }; f"
    sync = "!f() { git pull && git prune-remote; }; f"

    # Stats
    tags = tag -ln
    remotes = remote -v
    contributors = shortlog -s -n

[apply]
    whitespace = fix

[core]
    excludesfile = ~/.gitignore
    editor = vim
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

    # Make `git rebase` safer on macOS
    # http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
    trustctime = false

    # Speed up commands involving untracked files such as `git status`.
    # https://git-scm.com/docs/git-update-index#_untracked_cache
    untrackedCache = true

[color]
    ui = auto

[diff]
    renames = copies

[merge]
    log = true

[credential]
    helper = osxkeychain

[github]
    user = elitalon

[push]
    default = simple

[help]
    autocorrect = 1
